* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Righteous", cursive;
}

h2,
h3,
h4,
p {
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: #e5e5e5;

  height: calc(1026px + 92px + 46px);
}

header {
  width: 100%;
  height: 92px;
  max-width: 614px;
  background-color: #cf2b2b;

  display: flex;
  flex-direction: column;
  justify-content: center;

  position: fixed;
  top: 0;

  padding: 0 21px;

  box-shadow: 0 5px 3px rgb(170, 170, 170);
  z-index: 5;
}

header h1 {
  font-size: 44px;
  color: white;
}

header p {
  font-size: 18px;
  color: white;
}

/* Conteudo */

.conteudo {
  width: 100%;
  max-width: 614px;

  margin-top: 92px;

  display: flex;
  flex-direction: column;
  background-color: #e5e5e5;

  margin-bottom: calc(92px + 16px);
}

.conteudo h1 {
  color: #333333;
  font-size: 26px;

  margin-top: 32px;
  margin-left: 19px;
}

.cardapio {
  width: 100%;
  display: flex;
  overflow-x: scroll;
  align-items: center;
}

.prato {
  width: 172px;
  height: 216px;

  margin: 17px 0;
  margin-left: 19px;

  background-color: white;
  border-radius: 9px;
  box-shadow: 0 0 5px 3px rgb(221, 221, 221);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: relative;

  padding: 18px 14px;
  padding-bottom: 15px;

  cursor: pointer;
}

.prato:last-child {
  margin-right: 19px;
}

/* Classes do botao selecionado */
.correto {
  display: none;
}

.corretoSelecionado {
  height: 19px;
  width: 19px;
  position: absolute;
  bottom: 8px;
  right: 8px;
  display: block;
}

.selecionado {
  border: solid 5px #32b72f;
  padding: 13px 9px;
  padding-bottom: 10px;
}

/* ------------------*/

.foto {
  height: 87px;
  width: 144px;
  object-fit: cover;
}
.foto img {
  align-self: center;

  height: 87px;
  width: 144px;
}

.prato h4 {
  color: #333333;
  font-size: 16px;
  font-weight: bold;

  margin-top: 8px;
}

.prato p {
  color: #a6a6a6;
  font-size: 15px;
  font-weight: light;

  margin-top: 8px;
}

.prato h3 {
  color: #000000;

  font-size: 16px;

  margin-top: 12px;
}

.secaoSobremesa .prato {
}

footer {
  position: fixed;
  bottom: 0;

  height: 92px;
  width: 100%;
  max-width: 614px;

  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

footer button {
  height: 61px;
  width: 364px;

  border-radius: 50px;
  border: 1px solid #cbcbcb;
  background-color: #cbcbcb;
  color: white;
  font-size: 20px;
}

.botaoLiberado {
  background-color: #32b72f;
  font-weight: 700;
  cursor: pointer;
}
/* Comeca as telas de confirmacao */
.sobretela {
  height: calc(1026px + 92px + 46px);
  width: 100%;
  background-color: rgb(255, 255, 255, 0.8);
  position: absolute;
  top: 0;
  z-index: 6;

  display: flex;
  justify-content: center;
}

.painelConfirmacao {
  height: 353px;
  width: 377px;
  background-color: #50d074;
  border-radius: 9px;
  color: white;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 23px;

  position: sticky;
  top: 300px;
  margin-top: 300px;
}

.painelConfirmacao h3 {
  margin: 23px 0;
  font-weight: bold;
}
.pedido {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-items: right;
  margin-bottom: 13px;
  position: relative;
}
.pedido div:nth-child(2) {
  position: absolute;
  right: 0;
}

.total {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-items: right;
  font-weight: bold;
  margin-top: 10px;
  position: relative;
}

.valorTotal {
  position: absolute;
  right: 0;
}

.confirmar {
  height: 52px;
  width: 329px;
  border-radius: 100px;
  background-color: white;
  color: #50d074;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;

  margin-top: 26px;
}

.cancelar {
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #50d074;
  border: none;
  cursor: pointer;

  margin-top: 16px;
}

.apagado {
  display: none;
}
